@using Saturn.Backend.Data.SaturnAPI.Models
@using Saturn.Backend.Data.SaturnConfig
@using Saturn.Backend.Data.Services
@using Saturn.Backend.Data.Swapper.Generation
@using Saturn.Backend.Data.Variables
@using Saturn.Backend.Data.FortniteCentral
@using Saturn.Backend.Data.Swapper
@using CUE4Parse.UE4.Assets
@using CUE4Parse.FileProvider
@using System.IO
@using CUE4Parse.UE4.Assets.Objects
@using CUE4Parse.Utils
@using Saturn.Backend.Data
@using Saturn.Backend.Data.Swapper.Assets
@using Saturn.Backend.Data.Swapper.Core.Models
@using Saturn.Backend.Data.Swapper.Swapping
@using UAssetAPI
@using UAssetAPI.IO
@using UAssetAPI.PropertyFactories
@using UAssetAPI.UnrealTypes
@using UAssetAPI.Unversioned
@using SaturnData = CUE4Parse.SaturnData

@inject IJSRuntime _jsRuntime;
@inject IFortniteCentralService _fortniteCentralService;
@inject LocalizationResourceService _localizationResourceService

<KeyModal/>
<OptionModal/>
<FinishedModal/>
<CosmeticsSidebar/>

<div class="tab-page" id="cosmetic-page" style="display: none">
    <div class="header" onclick="saturn.modalManager.showModal('changelog')">
        <img src="@UpdateBackgroundUrl" alt="Banner"/>
        <div class="fade"></div>
        <div class="text-container">
            <h1>@("Saturn " + Constants.USER_VERSION + (Constants.isBeta ? " BETA" : ""))</h1>
        </div>
        <h4>@_localizationResourceService.GetString(16)</h4>
    </div>
    
    @if (Constants.PotentialOptions.Count == 0 && Constants.ShouldCreativeSwap || Constants.ShouldGlobalSwap)
    {
        <div class="tab-message">
            <div class="text">
                <h1>@NoCosmeticsKoomoji</h1>
                <h3>@_localizationResourceService.GetString(25)</h3>
            </div>

            <div class="controls">
                <button @onclick="@(async () => await AddCosmetics())">
                    <i class="fas fa-plus" style="padding-right: 5px"></i>
                    @_localizationResourceService.GetString(28)
                </button>
            </div>
        </div>
    }
    else if (Constants.CosmeticCount == 0)
    {
        <div class="tab-message">
            <div class="text">
                <h1>@NoCosmeticsKoomoji</h1>
                <h3>@_localizationResourceService.GetString(26)</h3>
                <h3>@_localizationResourceService.GetString(27)</h3>
            </div>
        </div>
    }
    else if (Constants.Handler.Handler.HasStarted && !Constants.Handler.Handler.IsOption)
    {
        <div class="tab-message">
            <div class="text">
                <h1>@NoCosmeticsKoomoji</h1>
                <h3>Generating cosmetics</h3>
                <h3>Please be patient</h3>
            </div>
        </div>
    }
    else
    {
        foreach (var item in Constants.Cosmetics)
        {
            <div id="@(item.ID + "-section")" class="section hoverable" @onclick="@(async() => await DecideWhatPathToDo(item))">
                <img src=@(item.GetHTMLImage()) alt="Icon"/>
                @if (FaultyIDs.Keys.Contains(item.ID))
                {
                    <div class="icon-overlay">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div>
                }
                <div class="name">
                    <h1>@item.DisplayName</h1>

                    @if (FaultyIDs.Keys.Contains(item.ID))
                    {
                        <h3 style="opacity: 1; color: #ffba3b">
                            @FaultyIDs[item.ID]
                        </h3>
                    }
                    else
                    {
                        <h3>
                            @item.Description
                        </h3>
                    }
                </div>
                @if (Constants.ConvertedIDs.Contains(item.ID))
                {
                    <div class="item-info">
                        <h3>@_localizationResourceService.GetString(33)</h3>
                    </div>
                }
            </div>
        }

        if (Constants.ChunkIndex == 0 && Constants.ChunkIndex != Constants.ChunkCount - 1)
        {
            <div id="@("next-section")" class="section hoverable" @onclick="@(async() => await IndexUp())">
                <img src=@($"https://fortnite-api.com/images/cosmetics/br/Character_HeadhunterStar/smallicon.png") alt="Icon"/>
                <div class="name">
                    <h1>@_localizationResourceService.GetString(29)</h1>
                    <h3>@_localizationResourceService.GetString(30)</h3>
                </div>
            </div>
        }
        else if (Constants.ChunkIndex != 0 && Constants.ChunkIndex == Constants.ChunkCount - 1)
        {
            <div id="@("next-section")" class="section hoverable" @onclick="@(async() => await IndexDown())">
                <img src=@($"https://fortnite-api.com/images/cosmetics/br/CID_028_Athena_Commando_F/smallicon.png") alt="Icon"/>
                <div class="name">
                    <h1>@_localizationResourceService.GetString(31)</h1>
                    <h3>@_localizationResourceService.GetString(32)</h3>
                </div>
            </div>
        }
        else if (Constants.ChunkIndex != 0 && Constants.ChunkIndex != Constants.ChunkCount - 1)
        {
            <div id="@("next-section")" class="section hoverable" @onclick="@(async() => await IndexDown())">
                <img src=@($"https://fortnite-api.com/images/cosmetics/br/CID_028_Athena_Commando_F/smallicon.png") alt="Icon"/>
                <div class="name">
                    <h1>@_localizationResourceService.GetString(31)</h1>
                    <h3>@_localizationResourceService.GetString(32)</h3>
                </div>
            </div>

            <div id="@("next-section")" class="section hoverable" @onclick="@(async() => await IndexUp())">
                <img src=@($"https://fortnite-api.com/images/cosmetics/br/Character_HeadhunterStar/smallicon.png") alt="Icon"/>
                <div class="name">
                    <h1>@_localizationResourceService.GetString(29)</h1>
                    <h3>@_localizationResourceService.GetString(30)</h3>
                </div>
            </div>
        }
    }
</div>

@code {

    private static Dictionary<string, string> FaultyIDs = new();

    private string UpdateBackgroundUrl = "/img/banner.png";
    private string NoCosmeticsKoomoji = "(⇀‸↼‶)";

    private async Task IndexUp()
    {
        Constants.CosmeticCount = -1;
        Constants.Cosmetics.Clear();
        Constants.ChunkIndex++;
        await Constants.Handler.Reset();
        await Constants.Handler.Handler.Execute();
    }
    
    private async Task IndexDown()
    {
        Constants.CosmeticCount = -1;
        Constants.Cosmetics.Clear();
        Constants.ChunkIndex--;
        await Constants.Handler.Reset();
        await Constants.Handler.Handler.Execute();
    }

    private async Task AddCosmetics()
    {
        Logger.Log("Generating cosmetics!");
        await Constants.Handler.Reset();
        Constants.Cosmetics.Clear();
        await Constants.Handler.Handler.Execute();
        Logger.Log("Done!");

        DiscordService.DiscordHandler.UpdatePresence($"{Constants.USER_VERSION} - In Saturn", "Selecting Cosmetics");
        
        await _jsRuntime.InvokeVoidAsync("saturn.tabManager.tabOut", "cosmetic");
        Constants.State = SaturnState.S_SelectCosmetics;
        while (!await _jsRuntime.InvokeAsync<bool>("saturn.tabManager.checkTab", "cosmetic")) {}
        await _jsRuntime.InvokeVoidAsync("saturn.tabManager.tabIn", "cosmetic");
    }

    protected override async Task OnInitializedAsync()
    {
        ChangeState();
        CheckForSwap();
    }

    private async Task ChangeState()
    {
        while (true)
        {
            StateHasChanged();
            await Task.Delay(50);
        }
    }

    private bool currentlySwapping = false;
    private async Task CheckForSwap()
    {
        while (true)
        {
            if (!string.IsNullOrWhiteSpace(Constants.SelectedItem.ID) && !string.IsNullOrWhiteSpace(Constants.SelectedOption.ID))
                await Swap();
            await Task.Delay(500);
        }
    }

    private async Task DecideWhatPathToDo(AssetSelectorItem item)
    {
        if (Constants.ConvertedIDs.Contains(item.ID))
        {
            await Revert(item);
        }
        else
        {
            await ShowOptionMenu(item);
        }
    }

    private async Task Revert(AssetSelectorItem item)
    {
        item.Description = "Starting to revert " + item.DisplayName;
        StateHasChanged();

        await FileLogic.Revert(item.ID);

        item.Description = "Reverted " + item.DisplayName;
        Constants.ConvertedIDs.Remove(item.ID);
        StateHasChanged();
        
        Constants.CurrentSwaps.RemoveAll(x => string.Equals(x.ItemModel.ID, item.ID, StringComparison.CurrentCultureIgnoreCase));
        
        await _jsRuntime.InvokeVoidAsync("saturn.modalManager.showModal", "finished");
    }

    private async Task Swap()
    {
        SaturnData.Clear();
        if (!Constants.isKeyValid)
        {
            await _jsRuntime.InvokeVoidAsync("saturn.modalManager.showModal", "key");
            Constants.SelectedItem.Description = "Key check failed!";
            Constants.SelectedItem = new();
            Constants.SelectedOption = new();
            return;
        }
        
        if (currentlySwapping) return;
        currentlySwapping = true;

        Constants.SelectedItem.Description = $"Swapping from {Constants.SelectedOption.DisplayName} to {Constants.SelectedItem.DisplayName}";
        StateHasChanged();
        
        await Task.Delay(500);
        
        Constants.CurrentSwaps.Add(new()
        {
            OptionModel = Constants.SelectedOption,
            ItemModel = Constants.SelectedItem
        });

        if (Constants.ShouldGlobalSwap)
        {
            await FileLogic.ConvertGlobal(Constants.SelectedOption.ID, Constants.SelectedItem.ID);
        }
        else
        {
            await FileLogic.Convert(Constants.SelectedOption, Constants.SelectedItem);
            
            while (FileLogic.isLocked)
            {
                await Task.Delay(500);
            }

            if (!Constants.SelectedOption.ID.EndsWith("EMOTE"))
            {
                await FileLogic.ConvertLobby(Constants.SelectedOption, Constants.SelectedItem);
            }
        }

        while (FileLogic.isLocked)
        {
            await Task.Delay(500);
        }
        
        Constants.SelectedItem.Description = "Swapped from " + Constants.SelectedOption.DisplayName + " to " + Constants.SelectedItem.DisplayName;
        StateHasChanged();
        
        if (Constants.isPlus && Constants.ShouldGlobalSwap && !Constants.CanSpecialSwap)
        {
            Constants.SelectedItem.Description = "Unable to lobby swap at this time... pakchunk0 was unable to be mounted.";
            StateHasChanged();
            Logger.Log("Unable to lobby swap at this time... pakchunk0 was unable to be mounted.", LogLevel.Error);
        }

        if (string.IsNullOrWhiteSpace(Constants.SelectedOption.DisplayName) || string.IsNullOrWhiteSpace(Constants.SelectedItem.DisplayName))
        {
            Constants.SelectedItem.Description = "The cosmetic has swapped as successfully as it could, but something went wrong. Restart Saturn and reswap if the swap didn't apply.";
            StateHasChanged();
        }

        Constants.ConvertedIDs.Add(Constants.SelectedItem.ID);
        
        StateHasChanged();
        Constants.SelectedOption = new();
        Constants.SelectedItem = new();
        currentlySwapping = false;
        
        await _jsRuntime.InvokeVoidAsync("saturn.modalManager.showModal", "finished");
    }

    private bool _handled = false;

    private async Task ShowOptionMenu(AssetSelectorItem item)
    {
        if (_handled) return;
        _handled = true;
        
        item.Description = "Generating options";
        StateHasChanged();

        await Task.Delay(50); // Need to display the text
        
        item.OptionHandler = Constants.CosmeticState == SaturnState.S_Skin || Constants.CosmeticState == SaturnState.S_Backbling 
            ? await OptionHandler.CreateCharacterPartOptions(item, new List<FStructFallback>()) 
            : await OptionHandler.CreateAssetOptions(item, new List<FStructFallback>());
        
        Constants.SelectedItem = item;

        OptionModal.UpdateItemInfo();
        await _jsRuntime.InvokeVoidAsync("saturn.modalManager.showModal", "option");

        _handled = false;
    }

}