@using Saturn.Backend.Data.Services
@using Saturn.Backend.Data

@inject LocalizationResourceService _localizationResourceService;

<div class="modal minimized" id="discord-modal">
    <div class="modal-window" style="width: 490px">
        <div class="close-button" onclick="saturn.modalManager.hideModal('discord')">
            <i class="fas fa-times"></i>
        </div>
        
        <div class="modal-header">
            <h1 class="modal-title">@_localizationResourceService.GetString(109)</h1>
            <p class="modal-desc">@("." + DiscordLink.Split('.')[1])</p>
        </div>
        
        <div class="section vertical">
            <h1>@_localizationResourceService.GetString(110)</h1>
            <h3>@_localizationResourceService.GetString(111)</h3>
            
            <img style="width: 400px; height: 225px;" src="./img/SaturnBanner.png" alt=""/>
        </div>
        
        <div class="modal-bottom">
            <h3><span class="hyperlink" onclick="@(() => Utilities.OpenBrowser(DiscordLink))">@_localizationResourceService.GetString(112)</span></h3>
        </div>
    </div>
</div>

@code {

    public static string DiscordLink = "https://discord.gg/Saturn";

}